@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .button{
        @apply bg-[#635fc7] py-2 px-3 rounded text-white text-lg font-semibold hover:opacity-80 duration-200
    }
}
.select-status{
    background-image: url('./assets/icon-chevron-down.svg');
    appearance: none;
    background-repeat: no-repeat;
    background-position: right 16px top 50%;
}

body{
    font-family: Inter,sans-serif;
}
/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 8px;
  }
  
  *::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 5px;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #514dcae4;
    border: 1px solid #514dcae4;
    border-radius: 50px;
  }
  